<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Registro de Observaciones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="container d-flex flex-column justify-content-center align-items-center">
   <main class="d-flex justify-content-center flex-column align-items-center p-3 m-3">
       <h1>Ingresar la observacion</h1>
       <h2>Ingrese los comentarios.</h2>
       <br>
       <form th:action="@{/guardarObservaciones}" th:object="${observaciones_Proyectos}" method="post"
           class="d-flex flex-column p-5 g-3 needs-validation m-3">
           <input type="hidden" th:field="*{id}" />
           <h4>Solicitud de datos:</h4>
           <div class="mb-3 form-floating">
               <select class="form-control" name="proyecto_titulo" th:field="*{proyecto_titulo}">
                   <option th:each="anteproyectosAprob : ${listaAnteproyectosAprob}"
                           th:value="${anteproyectosAprob.proyecto}" th:text="${anteproyectosAprob.proyecto}">
                   </option>
               </select>
               <label for="proyecto_titulo" class="form-label p-3">Proyecto: </label>
           </div>
           <div class="mb-3 form-floating">
               <select class="form-control" name="evaluador" th:field="*{evaluador}">
                   <option th:each="docente : ${listaDocente}"
                           th:value="${docente.nombre}" th:text="${docente.nombre}">
                   </option>
               </select>
               <label for="evaluador" class="form-label p-3">Evaluador: </label>
           </div>	
		   
		             <div class="d-flex mb-3">
		                   <label for="observaciones">Observaciones:</label>
		                   <input type="text" th:field="*{observaciones}" class="form-control" id="observaciones">
		               </div>
					   
           <div class="d-flex mb-3">
               <input type="submit" class="form-control btn-outline-dark me-4" value="Enviar">
               <input type="reset" class="form-control btn btn-dark" value="Restablecer">
           </div>
       </form>
   </main>
</body>
</html>
